<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Document</title>
    <style>
      .counter { width: 150px; margin: auto; display: flex; align-items: center;
      justify-content: center; } .counter input { width: 50px; border: 0;
      line-height: 30px; font-size: 20px; text-align: center; background:
      #0052cc; color: #fff; appearance: none; outline: 0; } .counter span {
      display: block; font-size: 25px; padding: 0 10px; cursor: pointer; color:
      #0052cc; user-select: none; }
    </style>
  </head>

  <body>
    <div
      id="container"
      class="container mt-2 mb-5 d-flex flex-column align-items-center"
    >
      {{> nav-bar}}
      
      <div class="col-8 mt-5" id="product-table">

        <h2 class="mb-5 text-center">Lista de productos</h2>
        {{#if products}}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Thumbnail</th>
                <th scope="col">Stock</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {{#each products}}
                <tr>
                  <th
                    class="align-middle text-center"
                    scope="row"
                  >{{@index}}</th>
                  <td class="align-middle text-center">{{this.name}} </td>
                  <td class="align-middle text-center">${{this.price}} </td>
                  <td class="align-middle text-center"><img
                      src="{{this.thumbnail}}"
                      alt="imagen del prod"
                      style="width: 150px; height:150px;"
                    /></td>
                  <td class="align-middle text-center">{{this.stock}}</td>
                  <td class="align-middle text-center">
                    <div
                      class="d-flex justify-content-center align-items-center flex-row"
                    >

                      <div class="counter">
                        <span
                          class="down"
                          onClick="decreaseCount(event, this)"
                        >-</span>
                        <input id="{{this._id}}-count" type="text" value="1" />
                        <span
                          class="up"
                          onClick="increaseCount(event, this, {{this.stock}})"
                        >+</span>
                      </div>
                      <button
                        class="btn-primary"
                        onClick="addProduct(`{{this._id}}`, `{{this.name}}`, {{this.price}}, `{{this.description}}`,`{{this.code}}`,`{{this.thumbnail}}`)"
                      >Agregar</button>
                    </div>

                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{else}}
          <div class="alert alert-danger" role="alert">
            No se encontraron datos
          </div>
        {{/if}}

      </div>

    </div>
    <script src="/index.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    >
    </script>
  </body>

</html>