<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>

  <body>
    <div
      id="container"
      class="container mt-2 mb-5 d-flex flex-column align-items-center"
    >
      {{> nav-bar}}
      <section
        class="col-12 d-flex justify-content-center flex-column align-items-center"
        style="background-color: #eee;"
      >
        <div class="col-lg-6 card mt-4 mb-4">
          <div class="card-body text-center">
            <img
              src="http://{{domain}}/uploads/{{avatar}}"
              alt="avatar"
              class="rounded-circle img-fluid"
              style="width: 150px;"
            />
            <h5 class="my-3">{{name}}</h5>
            <p class="text-muted mb-1">Full Stack Developer</p>
            <p class="text-muted mb-4">{{address}}</p>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Nombre y apellido</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{name}}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"> {{email}}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Teléfono</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{phone}}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Edad</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{age}}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Dirección</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{address}}</p>
                </div>
              </div>
            </div>
          </div>

        </div>

      </section>

    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    >
    </script>
  </body>

</html>